.periodical-calendar {
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 6px 6px 12px rgba(0,0,0,.175);
    box-shadow: 6px 6px 12px rgba(0,0,0,.175);
}

.periodical-calendar td {
    text-align: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px transparent solid;
}


.periodical-calendar td.weekend {
    background-color: #ff2a0c;
    border: 1px #cc0015 solid;
    color: white;
}

.periodical-calendar td:hover {
    background-color: #ffcfb3;
    border: 1px #cc8c88 solid;
}

.periodical-calendar td.selected {
    background-color: #adffa3;
    border: 1px #54cc6b solid;
    color: #0a0a0a;
}

.periodical-calendar td.selected:hover {
    background-color: #ffc39b;
    border: 1px #cc8b84 solid;
}

.periodical-calendar td.weekend.selected {
    background-color: #acffaf;
    border: 1px #00cc21 solid;
    color: #ff0020;
}
