.week-tasks-table {
    width: 100%;
}

.week-tasks-th-weekend {
    background-color: #ff252f !important;
    color: #fff;
}

.week-tasks-th {
    background-color: #e7ffd6;
    color: #242424;
}

.week-tasks-th, .week-tasks-th-weekend {
    width: 13%;
    text-align: center;
    border: 1px #ccc solid;
    padding: 5px;
}

.week-tasks-table tr {
    border: 1px #ccc solid;
}

.week-tasks-table td {
    border-right: 1px #ebebeb solid;
    padding: 2px 4px;
    vertical-align: top;
}

.task-completed {
    background-color: #d5ffe2;
}

.current-day {
    box-shadow: inset 0 0 10px rgb(100, 255, 141);
}

.week-tasks-table th small {
    display: block;
    font-weight: normal;
    font-size: 10px;
    color: #505050;+
}


.week-tasks-task {
    width: 100%;
    text-align: left !important;

}

.btn.btn-xs .badge-right {
    position: absolute !important;
    right: 5px !important;
    top: 3px !important;
}
.btn .badge-right {
    position: absolute !important;
    right: 5px !important;
    top: 7px !important;
}

.btn.task-completed {
    color: black;
    background-color: #e2ffe2 !important;
    border: 1px #ccc solid !important;
}
.btn.task-completed:hover {
    color: #ffffff;
    background-color: #00510d !important;
    border: 1px #002004 solid !important;
}


.btn-task-failed {
    /*border:1px red dotted !important;*/
}

.btn-task-failed::before {
    border-top: 1px double rgba(255, 3, 0, 0.51);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.btn-task-failed.btn-danger:before {
    border-top: 1px double rgba(0, 0, 0, 0.5);
}


.tasks-actions {
    margin-bottom: 5px;
}

.week-tasks-table .label {
    color: black;
}


.week-tasks-table td.current-day {
    background-color: #87bade;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}

.tasks-all-opened {
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tasks-all-opened .btn {
    width: 100%;
    text-align: left;
    margin-bottom: 3px;
}

